*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
.header nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
} 
.img img{
    width: 150px;
    margin-right: 50px;
}
.Header-right{
    display: flex;
    gap: 30px;
    align-items: center;
}
.search i, input{
    font-size: 20px;
    background-color: whi;
}
.search input:hover{
    font-size: 20px;
    background-color: blue;
}
.search i:hover{
    background-color: blue;
}
.account button{
    font-size: 15px;
    padding: 10px;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
.account button:hover{
    font-size: 15px;
    padding: 10px;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 147, 147);
}


