* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1330px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  background-color: aliceblue;
  top: 0;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 16px;
}

.dropdown .dropdown-content {
  display: none;
  left: 0;
  position: fixed;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px 15vw;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
}

@media (width <= 1350px) {
  .dropdown .dropdown-content {
    padding: 20px 20px;
  }
}

.dropdown a {
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: flex;
  transition: 0.5s ease;
}

.dropdown-content .top {
  margin-block: 20px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.dropdown-content a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.dropdown-content .content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.dropdown-content .content div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.header nav .menu-logo {
  font-size: 25px;
  display: none;
}

@media (width <= 1178px) {
  .header nav ul {
    display: none;
  }

  .header nav .menu-logo {
    display: flex;
    gap: 30px;
  }

  .header {
    width: 100%;
    padding-inline: 20px;
  }
}

.logo img {
  width: 130px;
}

.header-right .logo {
  margin-right: 90px;
}

@media (width <= 1178px) {
  .header-right .logo {
    display: none;
  }
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  opacity: 0.5;
}

.search i {
  font-size: 25px;
}

.search .icon {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.search .icon:hover {
  background-color: rgb(235, 235, 235);
}

.search i:hover {
  background-color: rgb(235, 235, 235);
}

.header-right {
  display: flex;
  /* gap: 30px; */
  align-items: center;
}

.account {
  display: flex;
}

.account button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.account button:hover {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  transition: 0.4s;
}

/* 
    1, Install git 
    2, Create acc github(password)
    3, How push code to github repo
        - 
        -
        -
        -
        -
*/

.main {
  width: 1330px;
}

.slide-show {
  width: 100%;
  height: 650px;
  padding-top: 60px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.slide-content {
  position: absolute;
  line-height: 110px;
}

.slide-content p {
  font-size: 70px;
  color: white;
}

.slide-content .dis {
  font-size: 200px;
  color: white;
  font-weight: 700;
}

.btn-shop {
  height: 150px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.btn-shop button {
  padding: 15px 40px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.btn-shop button:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.logo-container {
  width: 1330px;
  display: flex;
  justify-content: space-between;
}

.logo-container img {
  width: 150px;
}

.hero-section1 {
  width: 1330px;
  height: 580px;
  display: flex;
  justify-content: space-between;
}

.hero-section1 .box1 {
  width: 32%;
  height: 100%;
}

.box1 img {
  width: 100%;
}

.hero-section2 {
  width: 1330px;
  height: 640px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.hero-section2 .box2 {
  width: 49%;
}

.box2 img {
  width: 100%;
  height: 100%;
}

.black-section{
  width: 1330px;
  padding-top: 80px;
}

.black-section div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.black-section div h2 {
  font-size: 40px;
}

.black-section div a{
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.black-container {
  width: 100%;
  height: 525px;
}

.black-container .box3{
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.black-container .box3 img{
  width: 100%;
  height: 80%;
  top: 0;
}

.box3 .title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box3 .title .price{
  display: flex;
  gap: 10px;
}

.box3 .des{
  width: 100%;
}

.box3 p{
  text-align: start;
}

.color{
  width: 100%;
  display: flex;
  justify-content: center;
}

.dis1{
  position: absolute;
  top: 0px;
  left: 15px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: red;
  color: white;
}

.slide-show1{
  width: 1330px;
  height: 400px;
  padding-top: 50px;
}

.slide-show1 swiper-container img{
  opacity: 1;
}

.footer{
  width: 1330px;
  padding-top: 100px;
}

.card-footer1{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.card-footer1 h4, .card-footer2 h4, .card-footer3 h4{
  margin-bottom: 20px;
}

.first{
  width: 100%;
  height: 425px;
  display: flex;
  justify-content: space-between;
}

.first .card-footer1{
  width: 30%;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.qr-code img{
  width: 100px;
}

.totaly a{
  text-decoration: none;
  color: black;
}

.footer-bottum img{
  width: 300px;
}

.second{
  height: 100px;
}

.card-footer2{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.card-footer2 div ul li{
  margin-block: 10px;
  list-style: none;
}

.second div{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}