* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
}

.header {
  width: 1330px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.dropdown a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.dropdown .dropdown-content{
  display: none;
  left: 0;
  position: fixed;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px 50px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
}
.dropdown:hover .dropdown-content{
  display: flex;
}
.dropdown-content .content div{ 
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dropdown-content .content{
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.dropdown-content a:hover{
  text-decoration: underline;
}
.dropdown-content .pp{ 
  font-size: 30px;
  font-weight: bold;
}



.header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 16px;
}


.header nav .menu-logo{
    font-size: 25px;
    display: none;
}

@media (width <= 1178px) {
    .header nav ul{
        display: none;
    }

    .header nav .menu-logo{
        display: flex;
        gap: 30px;
    }

    .header{
        width: 100%;
        padding-inline: 20px;
    }
}

.logo img {
  width: 130px;
}

.header-right .logo {
  margin-right: 90px;
}

@media (width <= 1178px) {
    .header-right .logo{
        display: none;
    }
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  opacity: 0.5;
}

.search i {
  font-size: 25px;
}

.search .icon {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.search .icon:hover {
  background-color: rgb(235, 235, 235);
}

.search i:hover {
  background-color: rgb(235, 235, 235);
}

.header-right {
  display: flex;
  /* gap: 30px; */
  align-items: center;
}

.account button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.account button:hover {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  transition: 0.4s;
}


main{
  width: 1330px;
}

.slide-show {
  width: 100%;
  height: 650px;
}

 swiper-container {
      width: 100%;
      height: 100%;
    }

swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.slide-content {
  position: absolute;
  line-height: 110px;
  text-align: center;
}

.slide-content p {
  font-size: 70px;
  color: white;
}

.slide-content .dis {
  font-size: 200px;
  color: white;
  font-weight: 700;
}

.btn-shop {
  height: 150px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.btn-shop button {
  padding: 15px 40px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.btn-shop button:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}